option_settings:
  aws:rds:dbinstance:
    DBInstanceClass: db.t3.micro
    DBAllocatedStorage: 20
    DBEngine: postgres
    DBEngineVersion: "13.7"
    DBInstanceIdentifier: springboot-demo-db
    DBName: springbootdemo
    DBPassword: your-secure-password
    DBUser: springbootuser
    MultiAZ: false
    PubliclyAccessible: false
    StorageEncrypted: true
    StorageType: gp2
